*, html, body {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
}

.fContainer {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(222, 203, 151);
}
.wrapper {
    justify-content:space-between;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 800px;
    height: 80px;
    background-color: rgb(195, 78, 0);
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0 ,0.5);
}
.brand {
    display: flex;
    flex-direction:row;
    font-size: 30px;
    padding: 20px;
    text-transform: capitalize;

}
.logo > img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    justify-content:center;
    list-style-type: none;
    padding: 5px;
}
.name {
    color: white;
    font-weight: 800;
    padding: 10px;
    display:table-column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation > li {
    list-style-type: none;
    padding: 15px;
}
.navigation > li > a {
    color: white;
    font-size: 20px;
    text-decoration: none;

}
.navigation>li>a:hover {
    color: black;
    transition: all .3s ease-in-out;
}
